@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');


body {
  line-height: 1.5;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDA256;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ed7a07;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  font-family: "League Spartan", sans-serif;
  color: #041726;
  text-align: center;
}

h2 {
    text-align: left;
    color: #041726;
}

p {
  margin: 20px 1.5;
  font-family: "League Spartan", sans-serif;
  color: #000000;
  text-align: justify;
  text-justify: auto;
}

.btn-primary {
  background-color: #041726;
  border-color: #041726;
}

.btn-primary:hover {
  background-color: #041726;
  border-color: #041726;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #041726;
}

footer {
  position: unset;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ed7a07;
  padding: 10px;
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
}

footer p {
  text-align: start;
  margin: 0;
  color: #041726;
  font-family: "League Spartan", sans-serif;
}


.link-rodape {
  text-decoration: none;
}

.rodape-legal {
  text-align: center;
  margin: 0;
  color: #041726;
}

span {
  font-weight: bold;
}


.mantini {
  color: #041726;
  text-decoration: none;
  font-family: 'orbitron', sans-serif;
}

div {
  text-align: center;
}



.social-icons a {
  color: black;
  /* Cor verde do WhatsApp */
}

.social-icons a:hover {
  color: blanchedalmond;
  /* Cor alterada ao passar o mouse */
}

/* Aviso de cookies */
/* Estilos básicos para o aviso de cookies */
.cookie {
  font-weight: 700;
  color: #EDB807;
}

.texto-cookie {
    color: #EDB807;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(122, 48, 48, 0.918);
  color: #EDB807;
  text-align: center;
  padding: 15px;
  display: none;
  /* Oculto inicialmente */
  z-index: 1000;
}

.cookie-consent p {
  margin: 0;
  display: inline-block;
}

.cookie-consent button {
  margin-left: 20px;
  background-color: #EDB807;
  color: black;
  border: none;
  padding: 5px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.cookie-consent button:hover {
  background-color: #EDA256;
}

.link_cookie {
  color: #EDB807;
}

/* classes menu */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ED7A07;
    padding: 10px 20px;
}

.navbar .logo {
    color: #000000e;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

//* Ajustes gerais */
.social-icons {
  display: flex;
  align-items: center;
}
#whatsapp {
  position: absolute;
  left: 200px; /* Ajuste o valor conforme necessário */
  top: 25px;
}

#instagram {
  position: absolute;
  left: 250px; /* Ajuste o valor conforme necessário */
  top: 25px;
}

/* Ajustar o ícone do WhatsApp para mobile */
@media (max-width: 768px) {
  #whatsapp {
    position: absolute;
    left: 180px; /* Ajuste o valor conforme necessário */
    top: 25px;
  }

  #instagram {
    position: absolute;
    left: 220px; /* Ajuste o valor conforme necessário */
    top: 25px;
  }

  .whatsapp-icon {
    margin-right: 15px; /* Opcional: espaço adicional no mobile */
  }

  .instagran-icon {
    margin-right: 15px; /* Opcional: espaço adicional no mobile */
  }
}

a {
  text-decoration: none;
}
