@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');


body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color:black
  ;
}

header {
  background-color: #ed7a07;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  font-family: "League Spartan", sans-serif;
  color: #041726;
  text-align: center;
}

p {
  margin: 20px 0;
  font-family: "League Spartan", sans-serif;
  color: #ED9C07;
  text-align: justify;
  text-justify: auto;
}

.btn-primary {
  background-color: #041726;
  border-color: #041726;
}

.btn-primary:hover {
  background-color: #041726;
  border-color: #041726;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #041726;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ed7a07;
  padding: 10px;
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
}

footer p {
  text-align: center;
  margin: 0;
  color: #041726;
}

span {
  font-weight: bold;
}


.mantini {
  color: #041726;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
}

div {
  text-align: center;
}


.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.social-icons a {
  color: black; /* Cor verde do WhatsApp */
}

.social-icons a:hover {
  color: blanchedalmond; /* Cor alterada ao passar o mouse */
}

/* Aviso de cookies */
/* Estilos básicos para o aviso de cookies */
.cookie {
  font-weight: 700;
}
.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(122, 48, 48, 0.918);
  color: w#EDB807;
  text-align: center;
  padding: 15px;
  display: none; /* Oculto inicialmente */
  z-index: 1000;
}

.cookie-consent p {
  margin: 0;
  display: inline-block;
}

.cookie-consent button {
  margin-left: 20px;
  background-color: #EDB807;
  color: black;
  border: none;
  padding: 5px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.cookie-consent button:hover {
  background-color: #EDA256;
}
